{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    
    <br>
    <h2 style="text-align: center">Surf and Skate Maps</h2>
    <h3 style="text-align: center">Haz click en las imagenes para que encuentres spots alrededor de la isla!</h3>
    <br>
    <br>

    <!-- surf image -->
    <div class="ui four column centered grid">
        <a href="{{ url_for('maps.surf_map')}}"><img class="ui large rounded image" src="/static/images/surf-map-4.jpg"></a>
        <a href="{{ url_for('maps.skate_map')}}"><img class="ui large rounded image" src="/static/images/skate-map-2.jpg"></a>
    </div>

    <!-- skate image -->
    <div class="ui two column centered grid">
        <div class="column">
            <div class="ui section divider"></div>
        </div>
    </div>
    
    <!-- divider -->
    <div class="ui four column centered grid">
        <div class="column">
            <h2 style="text-align: center"> <i class="pr flag"></i></h2>
        </div>
    </div>

    <!-- test -->



{% endblock %}