{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    
    <br>
    <h2 style="text-align: center">Edit user! <i class="pr flag"></i></h2>
    <h3 style="text-align: center">Para que conectes con otros rippers alrededor de la isla!</h3>
    <br>
    <br>

    <!-- new user form -->
    <div class="ui four column centered grid">
        <form action="{{url_for('show', id=user.id)}}?_method=PATCH" method="POST">
            <input type="text" name="first_name" value="{{ user.first_name }}">
            <input type="text" name="last_name" value="{{ user.last_name }}">
            <input type="submit" value="Save">
        </form>
    </div>

    <!-- divider -->
    <div class="ui two column centered grid">
        <div class="column">
            <div class="ui section divider"></div>
        </div>
    </div>

    <!-- buttons -->
    <div class="ui four column centered grid">
        <div class="ui large buttons">
            <a href="{{ url_for('surf_map')}}"><button class="ui blue button">Surf</button></a>
            <div class="or"></div>
            <a href="{{ url_for('skate_map')}}"><button class="ui teal button">Skate</button></a>
        </div>
    </div>
    
    <!-- divider -->
    <div class="ui four column centered grid">
        <div class="column">
            <h2 style="text-align: center">Coming soon! <i class="pr flag"></i></h2>
        </div>
    </div>

    <!-- test -->



{% endblock %}