<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surf and Skate App - {% block title %}{% endblock %}</title>
    <!-- jQuery 1.8 or later, 33 KB -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Fotorama from CDNJS, 19 KB -->
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
    <!-- Semantic ui -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
    <body>
        <nav>
            <ul>
                <li><a href="{{ url_for('index')}}" class="logo">Logo</a></li>
                <li><a href="{{ url_for('about')}}">About</a></li>
                <li><a href="{{ url_for('community')}}">News</a></li>
                <li><a href="{{ url_for('community')}}">Maps</a></li>
                <li><a href="{{ url_for('community')}}">Community</a></li>
            </ul>
        </nav>
        <br>
        {% block content %}
        {% endblock %}
    </body>
</html>