{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    
    <br>
    <h2 style="text-align: center">Spots de Surf y Skate en Puerto Rico <i class="pr flag"></i></h2>
    <h3 style="text-align: center">Para que conozcas y ripees los lugares mas gufeaos alrededor de la isla!</h3>
    <br>
    <br>
    <div class="ui four column centered grid">
        <div class="column"><a href="{{ url_for('surf_map')}}"><img class="ui circular medium image" src="/static/images/surf.jpg"></a></div>
        <div class="column"><a href="{{ url_for('skate_map')}}"><img class="ui circular medium image" src="/static/images/skate-2.jpg"></a></div> 
    </div>


    <!-- <h3 style="text-align: center">This project was built with Python Flask, Jinja2, SegmentUI for styling and a bit of vanilla JavaScript.</h3> -->
    <!-- <h4 style="text-align: center"><a href="rafaelopez.com">Rafael Lopez</a> - Analytics and Development.</h4> -->

{% endblock %}