{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    
    <br>
    <h2 style="text-align: center">Meet the rippers in PR! <i class="pr flag"></i></h2>
    <h3 style="text-align: center">Haz click y mira el perfil de otros rippers alrededor de la isla!</h3>
    <br>
    <br>

    <div class="ui four column centered grid">
        <button class="positive ui button"><a href="{{url_for('new')}}">Add a new ripper!</a></button>
    </div>

    <!-- surf image -->
    <!-- <div class="ui four column centered grid">
        <a href="{{ url_for('skate_map')}}"><img class="ui large rounded image" src="/static/images/soon-1.png"></a> -->
        {% for user in users %}
        <!-- <a href="{{ url_for('show', id=user.id)}}"><p>{{ user.first_name}} {{ user.last_name}}</p></a> -->
        {% endfor %}
    <!-- </div> -->

    <!-- test 1 -->
    <div class="ui two column centered grid">
        {% for user in users %}
        <div class="four column centered row">
          <!-- card 1 -->
          <div class="column"><div class="ui card">
            <div class="image">
              <img src="/static/images/matthew.png">
            </div>
            <div class="content">
              <a class="header" href="{{ url_for('show', id=user.id)}}">{{ user.first_name }}</a>
              <div class="meta">
                <span class="date">Joined in 2013</span>
              </div>
              <div class="description">
                {{ user.first_name }} is a surfer living in Aguadilla.
              </div>
            </div>
            <div class="extra content">
              <a>
                <i class="user icon"></i>
                22 Friends
              </a>
            </div>
          </div></div>
          <!-- card 2 -->
          <div class="column"><div class="ui card">
            <div class="image">
              <img src="/static/images/matthew.png">
            </div>
            <div class="content">
              <a class="header" href="{{ url_for('show', id=user.id)}}">{{ user.first_name }}</a>
              <div class="meta">
                <span class="date">Joined in 2013</span>
              </div>
              <div class="description">
                {{ user.first_name }} is a surfer living in Aguadilla.
              </div>
            </div>
            <div class="extra content">
              <a>
                <i class="user icon"></i>
                22 Friends
              </a>
            </div>
          </div></div>
          
        </div>
        {% endfor %}
      </div>

    <!-- divider -->
    <div class="ui two column centered grid">
        <div class="column">
            <div class="ui section divider"></div>
        </div>
    </div>




{% endblock %}