{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    
    <br>
    {% if map == "surf-map" %}
    <h2 style="text-align: center">Surf Spots en: {{ town.title() }}</h2>
    {% elif map == "skate-map" %}
    <h2 style="text-align: center">Skate Spots en: {{ town.title() }}</h2>
    {% endif %}
    <h3 style="text-align: center">Para que conozcas y ripees los lugares mas gufeaos!</h3>
    <h4 style="text-align: center">Temperatura actual: {{ weather['main'].temp|round|int }}°F</h4>
    <br>
    <br>

    <!-- img carousel -->
    <div class="ui two column centered grid">
        <div class="fotorama"
            data-nav="thumbs"
            data-loop="true"
            data-keyboard="true">
            <img data-caption="Tres Palmas" src="/static/images/surf.jpg">
            <img src="/static/images/gas-chambers.jpg" data-caption="Gas Chambers">
            <img src="/static/images/punta-borinquen.jpg" data-caption="Aguadilla">
            <img src="/static/images/gas-chambers-2.jpg" data-caption="Gas Chambers">
            <img src="/static/images/tres-palmas.jpg" data-caption="Tres Palmas">
            <img src="/static/images/tres-palmas-2.jpg" data-caption="Tres Palmas">
            <img src="/static/images/surf.jpg" data-caption="Tres Palmas">
            <img src="/static/images/gas-chambers.jpg" data-caption="Gas Chambers">
            <img src="/static/images/punta-borinquen.jpg" data-caption="Punta Borinquen">
            <img src="/static/images/gas-chambers-2.jpg" data-caption="Gas Chambers">
            <img src="/static/images/tres-palmas.jpg" data-caption="Tres Palmas">
            <img src="/static/images/tres-palmas-2.jpg" data-caption="Tres Palmas">
        </div>
    </div>

    <!-- paragraph -->
    <div class="ui two column centered grid">
        <div class="column">
            <!-- divider -->
            <div class="ui section divider"></div>
            <p>{{ town_obj.town_surf_descr }}</p>
            <!-- divider -->
            <div class="ui section divider"></div>
        </div>
    </div>

    <h2 style="text-align: center">Surf Spots en: {{ town.title() }}</h2>
    <h5 style="text-align: center">{{ town_obj.town_descr}}</h5>
    <br>

    <!-- divider -->
    <div class="ui grid centered">
        <div class="four wide column"><div class="ui section divider"></div></div>
        <!-- <div class="four wide column"></div>
        <div class="four wide column"></div>
        <div class="four wide column"></div> -->
      </div>

  <!-- spots -->
  <div class="ui stackable two column centered grid">
    <div class="column">
      <div class="ui three cards">
      {% for spot in spots %}
        <a class="red card" href="{{ url_for('town_spot', map=map, town=town, spot=spot.spot_name ) }}">
          <div class="image">
            <img src="/static/images/surf.jpg">
          </div>
          <div class="content">
            <div class="center aligned header">{{ spot.spot_name }}</div>
          </div>
        </a>
      {% endfor %}
    </div></div>
    <div class="four column centered row">
      <div class="column"></div>
      <div class="column"></div>
    </div>
  </div>

      <!-- divider -->
      <div class="ui grid centered">
        <div class="four wide column"><div class="ui section divider"></div></div>
        <!-- <div class="four wide column"></div>
        <div class="four wide column"></div>
        <div class="four wide column"></div> -->
      </div>    

{% endblock %}