{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    
    <br>
    {% if map == "surf-map" %}
    <h2 style="text-align: center">Surf Spots en: {{ town.title() }}</h2>
    {% elif map == "skate-map" %}
    <h2 style="text-align: center">Skate Spots en: {{ town.title() }}</h2>
    {% endif %}
    <h3 style="text-align: center">Para que conozcas y ripees los lugares mas gufeaos!</h3>
    <br>
    <br>

    <!-- img carousel -->
    <div class="ui two column centered grid">
        <div class="fotorama"
            data-nav="thumbs"
            data-loop="true"
            data-keyboard="true">
            <img data-caption="Tres Palmas" src="/static/images/surf.jpg">
            <img src="/static/images/gas-chambers.jpg" data-caption="Gas Chambers">
            <img src="/static/images/punta-borinquen.jpg" data-caption="Aguadilla">
            <img src="/static/images/gas-chambers-2.jpg" data-caption="Gas Chambers">
            <img src="/static/images/tres-palmas.jpg" data-caption="Tres Palmas">
            <img src="/static/images/tres-palmas-2.jpg" data-caption="Tres Palmas">
            <img src="/static/images/surf.jpg" data-caption="Tres Palmas">
            <img src="/static/images/gas-chambers.jpg" data-caption="Gas Chambers">
            <img src="/static/images/punta-borinquen.jpg" data-caption="Punta Borinquen">
            <img src="/static/images/gas-chambers-2.jpg" data-caption="Gas Chambers">
            <img src="/static/images/tres-palmas.jpg" data-caption="Tres Palmas">
            <img src="/static/images/tres-palmas-2.jpg" data-caption="Tres Palmas">
        </div>
    </div>

    <!-- paragraph -->
    <div class="ui two column centered grid">
        <div class="column">
            <!-- divider -->
            <div class="ui section divider"></div>
            <p>{{ town_obj.town_surf_descr }}</p>
            <!-- divider -->
            <div class="ui section divider"></div>
        </div>
    </div>

    <h2 style="text-align: center">Surf Spots en: {{ town.title() }}</h2>
    <h5 style="text-align: center">{{ town_obj.town_descr}}</h5>
    <br>

    <!-- spots row 1 -->
    <div class="ui grid centered">
        <div class="ui relaxed horizontal list">
            <div class="item">
              <img class="ui avatar image" src="/static/images/surf.jpg">
              <div class="content">
                <a class="header" href="{{ url_for('town_spot', map=map, town=town, spot='Wilderness' ) }}">Wilderness</a>
              </div>
            </div>
            <div class="item">
              <img class="ui avatar image" src="/static/images/surf.jpg">
              <div class="content">
                <a class="header" href="{{ url_for('town_spot', map=map, town=town, spot='Gas Chambers' ) }}">Gas Chambers</a>
              </div>
            </div>
            <div class="item">
              <img class="ui avatar image" src="/static/images/surf.jpg">
              <div class="content">
                <a class="header" href="{{ url_for('town_spot', map=map, town=town, spot='Surfer\'s Beach' ) }}">Surfer's Beach</a>
              </div>
            </div>
          </div>
    </div>
    
    <!-- spacer -->
    <div class="ui grid centered">
        <div class="four wide column"><div class="ui section divider"></div></div>
    </div>
    
    <!-- spots row 2 -->
    <div class="ui grid centered">
        <div class="ui relaxed horizontal list">
            <div class="item">
              <img class="ui avatar image" src="/static/images/surf.jpg">
              <div class="content">
                <a class="header" href="{{ url_for('town_spot', map=map, town=town, spot='Pressure Point' ) }}">Pressure Point</a>
              </div>
            </div>
            <div class="item">
              <img class="ui avatar image" src="/static/images/surf.jpg">
              <div class="content">
                <a class="header" href="{{ url_for('town_spot', map=map, town=town, spot='Wishing Wells' ) }}">Wishing Wells</a>
              </div>
            </div>
            <div class="item">
              <img class="ui avatar image" src="/static/images/surf.jpg">
              <div class="content">
                <a class="header" href="{{ url_for('town_spot', map=map, town=town, spot='Chrash Boat' ) }}">Chrash Boat</a>
              </div>
            </div>
          </div> 
    </div>
    
    <!-- spacer -->
    <div class="ui grid centered">
        <div class="four wide column"><div class="ui section divider"></div></div>
    </div>

    <!-- spots row 3 -->
    <div class="ui grid centered">
        <div class="ui relaxed horizontal list">
            <div class="item">
              <img class="ui avatar image" src="/static/images/surf.jpg">
              <div class="content">
                <a class="header" href="{{ url_for('town_spot', map=map, town=town, spot='Table Top' ) }}">Table Top</a>
              </div>
            </div>
            <div class="item">
              <img class="ui avatar image" src="/static/images/surf.jpg">
              <div class="content">
                <a class="header" href="{{ url_for('town_spot', map=map, town=town, spot='Table Top' ) }}">Table Top</a>
              </div>
            </div>
            <div class="item">
              <img class="ui avatar image" src="/static/images/surf.jpg">
              <div class="content">
                <a class="header" href="{{ url_for('town_spot', map=map, town=town, spot='Bridges' ) }}">Bridges</a>
              </div>
            </div>
          </div> 
    </div>

    <!-- divider -->
    <div class="ui grid centered">
        <div class="four wide column"><div class="ui section divider"></div></div>
        <!-- <div class="four wide column"></div>
        <div class="four wide column"></div>
        <div class="four wide column"></div> -->
      </div>

  <!-- test -->
  <div class="ui stackable two column centered grid">
    <div class="column">
      <div class="ui three cards">
      {% for spot in spots %}
        <a class="red card" href="{{ url_for('town_spot', map=map, town=town, spot='Bridges' ) }}">
          <div class="image">
            <img src="/static/images/surf.jpg">
          </div>
          <div class="content">
            <div class="center aligned header">{{ spot }}</div>
          </div>
        </a>
      {% endfor %}
    </div></div>
    <div class="four column centered row">
      <div class="column"></div>
      <div class="column"></div>
    </div>
  </div>
    

{% endblock %}