{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    
    <br>
    <h2 style="text-align: center">Profile of {{ user.first_name }}! <i class="pr flag"></i></h2>
    <h3 style="text-align: center">Aqui podras editar o borrar tu perfil.</h3>
    <br>
    <br>



    <!-- divider -->
    <div class="ui two column centered grid">
        <div class="column">
            <div class="ui section divider"></div>
        </div>
    </div>

    <!-- test -->
    <div class="ui two column centered grid">
          <div class="four column centered row">
            <!-- card 1 -->
            <div class="column"><div class="ui card">
              <div class="image">
                <img src="/static/images/matthew.png">
              </div>
              <div class="content">
                <a class="header" href="{{ url_for('show', id=user.id)}}">{{ user.first_name }}</a>
                <div class="meta">
                  <span class="date">Joined in 2013</span>
                </div>
                <div class="description">
                  {{ user.first_name }} is a surfer living in Aguadilla.
                </div>
              </div>
              <div class="extra content centered">
                <div class="ui buttons">
                    <button class="ui red basic button">
                        <form method="POST" action="{{ url_for('show', id=user.id )}}?_method=DELETE">
                            <input type="submit" value="Delete">
                        </form>
                    </button>
                    <button class="ui green basic button">
                        <a href="{{url_for('edit', id=user.id)}}">Edit User</a>
                    </button>
                  </div>
              </div>
            </div></div>
            <!-- card 2 -->
          </div>
    </div>

    <!-- divider -->
    <div class="ui two column centered grid">
        <div class="column">
            <div class="ui section divider"></div>
        </div>
    </div>



{% endblock %}